
  <!--  Block ALL -->

<div class="tab-pane" id="BLOCK-ALL" role="tabpanel">
    <div class="row align-items-center mb-1">
        <div class="hstack my-4 gap-3 justify-content-center">
            <button type="button" class="btn d-flex w-autoresizebyres d-block fw-bolder text-black display-7-byFahrul align-items-center" style="background-color:#EEEDED">
                MACHINE TROUBLE <span class="badge ms-auto fw-bold display-7-byFahrul" style="background-color:#FF1E00">@ViewBag.MachineTroubleAll</span>
            </button>

            <button type="button" class="btn d-flex w-autoresizebyres text-black fw-bolder d-block display-7-byFahrul align-items-center" style="background-color:#EEEDED">
                QUALITY TROUBLE <span class="badge fw-bold text-black ms-auto display-7-byFahrul" style="background-color:#FAFF00">@ViewBag.QualityTroubleAll</span>
            </button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="table-responsive">
            <table id="BlockAll" class="table table-sm mb-0" style="border-color:transparent">
                <thead class="text-dark fs-4">
                    @*<tr>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0"></h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0"></h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0"></h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0"></h6>
                            </th>


                        </tr>*@
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>
<!--  Block ALL -->
